<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee" 
         version="2.5" 
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"> 

  <display-name>Archetype Created Web Application</display-name>
  
  <servlet>
  	<description></description>
  	<display-name>HomePageController</display-name>
  	<servlet-name>HomePageController</servlet-name>
  	<servlet-class>com.alliance.controller.HomePageController</servlet-class>
  </servlet>
    <servlet>
  	<description></description>
  	<display-name>ProfileUpdateController</display-name>
  	<servlet-name>ProfileUpdateController</servlet-name>
  	<servlet-class>com.alliance.controller.ProfileUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>HomePageController</servlet-name>
  	<url-pattern>/HomePageController</url-pattern>
  </servlet-mapping>
   <servlet>
  	<description></description>
  	<display-name>LoginController</display-name>
  	<servlet-name>LoginController</servlet-name>
  	<servlet-class>com.alliance.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>LoginController</servlet-name>
  	<url-pattern>/LoginController</url-pattern>
  </servlet-mapping>
    <servlet>
    <description></description>
    <display-name>IndexController</display-name>
  	<servlet-name>IndexController</servlet-name>
  	<servlet-class>com.alliance.controller.IndexController</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>IndexController</servlet-name>
  	<url-pattern>/</url-pattern>
  </servlet-mapping>
  <servlet>
  	<description></description>
  	<display-name>Register1Controller</display-name>
  	<servlet-name>Register1Controller</servlet-name>
  	<servlet-class>com.alliance.controller.Register1Controller</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AboutButtonController</display-name>
  	<servlet-name>AboutButtonController</servlet-name>
  	<servlet-class>com.alliance.controller.AboutButtonController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ContactButtonController</display-name>
  	<servlet-name>ContactButtonController</servlet-name>
  	<servlet-class>com.alliance.controller.ContactButtonController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RegisterRedirectController</display-name>
  	<servlet-name>RegisterRedirectController</servlet-name>
  	<servlet-class>com.alliance.controller.RegisterRedirectController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LoginRedirectController</display-name>
  	<servlet-name>LoginRedirectController</servlet-name>
  	<servlet-class>com.alliance.controller.LoginRedirectController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminDispController</display-name>
  	<servlet-name>AdminDispController</servlet-name>
  	<servlet-class>com.alliance.controller.AdminDispController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminLoginController</display-name>
  	<servlet-name>AdminLoginController</servlet-name>
  	<servlet-class>com.alliance.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminLoginRedirectController</display-name>
  	<servlet-name>AdminLoginRedirectController</servlet-name>
  	<servlet-class>com.alliance.controller.AdminLoginRedirectController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminLinkController</display-name>
  	<servlet-name>AdminLinkController</servlet-name>
  	<servlet-class>com.alliance.controller.AdminLinkController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdatePageRedirectController</display-name>
  	<servlet-name>UpdatePageRedirectController</servlet-name>
  	<servlet-class>com.alliance.controller.UpdatePageRedirectController</servlet-class>
  </servlet>
  
  <servlet>
  	<description>
  	</description>
  	<display-name>DeleteAccountController</display-name>
  	<servlet-name>DeleteAccountController</servlet-name>
  	<servlet-class>com.alliance.controller.DeleteAccountController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TransactionController</display-name>
  	<servlet-name>TransactionController</servlet-name>
  	<servlet-class>com.alliance.controller.TransactionController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>TransferPageRefirectController</display-name>
  	<servlet-name>TransferPageRefirectController</servlet-name>
  	<servlet-class>com.alliance.controller.TransferPageRefirectController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>FundTransferRequestController</display-name>
  	<servlet-name>FundTransferRequestController</servlet-name>
  	<servlet-class>com.alliance.controller.FundTransferRequestController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminFundTransferActivationController</display-name>
  	<servlet-name>AdminFundTransferActivationController</servlet-name>
  	<servlet-class>com.alliance.controller.AdminFundTransferActivationController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>AdminLinkTransferFundsController</display-name>
  	<servlet-name>AdminLinkTransferFundsController</servlet-name>
  	<servlet-class>com.alliance.controller.AdminLinkTransferFundsController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>LogoutController</display-name>
  	<servlet-name>LogoutController</servlet-name>
  	<servlet-class>com.alliance.controller.LogoutController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MyAccountController</display-name>
  	<servlet-name>MyAccountController</servlet-name>
  	<servlet-class>com.alliance.controller.MyAccountController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>MiniStatementController</display-name>
  	<servlet-name>MiniStatementController</servlet-name>
  	<servlet-class>com.alliance.controller.MiniStatementController</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>GetTransactionListBO</display-name>
  	<servlet-name>GetTransactionListBO</servlet-name>
  	<servlet-class>com.alliance.bo.GetTransactionListBO</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Register1Controller</servlet-name>
  	<url-pattern>/Register1Controller</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AboutButtonController</servlet-name>
  	<url-pattern>/AboutButtonController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ContactButtonController</servlet-name>
  	<url-pattern>/ContactButtonController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RegisterRedirectController</servlet-name>
  	<url-pattern>/RegisterRedirectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>LoginRedirectController</servlet-name>
  	<url-pattern>/LoginRedirectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminDispController</servlet-name>
  	<url-pattern>/AdminDispController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginController</servlet-name>
  	<url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLoginRedirectController</servlet-name>
  	<url-pattern>/AdminLoginRedirectController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>AdminLinkController</servlet-name>
  	<url-pattern>/AdminLinkController</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdatePageRedirectController</servlet-name>
  	<url-pattern>/UpdatePageRedirectController</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  	<servlet-name>DeleteAccountController</servlet-name>
  	<url-pattern>/DeleteAccountController</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
  	<servlet-name>ProfileUpdateController</servlet-name>
  	<url-pattern>/ProfileUpdateController</url-pattern>
  </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TransactionController</servlet-name>
    	<url-pattern>/TransactionController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>TransferPageRefirectController</servlet-name>
    	<url-pattern>/TransferPageRefirectController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>FundTransferRequestController</servlet-name>
    	<url-pattern>/FundTransferRequestController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminFundTransferActivationController</servlet-name>
    	<url-pattern>/AdminFundTransferActivationController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>AdminLinkTransferFundsController</servlet-name>
    	<url-pattern>/AdminLinkTransferFundsController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>LogoutController</servlet-name>
    	<url-pattern>/LogoutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MyAccountController</servlet-name>
    	<url-pattern>/MyAccountController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>MiniStatementController</servlet-name>
    	<url-pattern>/MiniStatementController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>GetTransactionListBO</servlet-name>
    	<url-pattern>/GetTransactionListBO</url-pattern>
    </servlet-mapping>
</web-app>
